.container {
  display: flex;
}
.grid {
  width: 350px;
  height: 700px;
  display: flex;
  flex-wrap: wrap;
  background-color: #AE77FF;
  border-radius: 5px;
}

.grid div {
  height: 35px;
  width: 35px;
}

.mini-grid {
  width: 195px;
  height: 195px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #AE77FF;
  margin-left:50px;
  border-radius: 5px;
}
.tetromino {
  background-color: #73FFC3;
}


.mini-grid div {
  width: 48.75px;
  height: 48.75 px;
}
